.cards {
  width: 1000px;
  height: 260px;
  background-color: #ff0022;
  margin: auto;
  display: flex;
  
}

.card {
  width: 31%;
  height: 160px;
  background-color: #ffa500;
  font-size: 1.5rem;
  margin-right: 10px;
}

.card1 {
background-color: green;
}

.card2 {
background-color: pink;
}