* {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2 {
  text-align: center;
}
header {
  display: flex;
  background-color: #00c9a9;
  height: 69px;
  color: white;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 3rem;
  margin-top: 13px;
}

#body_content {
  display: flex;
  flex-direction: column;
  height: 67vh;
  margin-top: -50px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 2px dotted orange;
  width: 92%;
  margin: auto;
  /* border-bottom: 1px solid orange; */
}

#body_content p:nth-child(2) {
  margin-top: -30px;
}

@media only screen and (max-width: 557px) {
  #body_content {
    font-size: 1.2rem;
    line-height: 40px;
  }
}

@media only screen and (max-width: 472px) {

 fieldset {
  margin-top: -10px;
  font-size: 0.8rem;
 }

  label[for = "submit"] {
    width: 100px;
    position: absolute;
    top: 109px;
    right: 165px;
    text-align: center;  
  } 
}
@media only screen and (max-width: 370px) {

  label[for = "submit"] {
  
   
    right: 157px;
    width: 50px;
  } 
}


.cards {
  width: 92%;

  background-color: #f7f6eb;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  row-gap: 1px;
  column-gap: 1px;
}

/* display: flex;
justify-content: space-around;
flex-wrap: wrap;
width: 100%;
/* background-color: tomato; */
/* height: auto; */
/* margin-top: 15px; */

/* .card {
  width: 32.66%;
  height: 263px;
  background-color: #ffa500;
  font-size: 1.5rem;
} */

.card1 {
  background-color: #d1d0ca;
  /* min-width: 19%; */
  height: 186px;
  font-size: 1rem;
  padding-left: 10px;
}


@media only screen and (max-width: 1124px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 843px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 557px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}
/* @media only screen and (max-width: 1348px){
  .card1  {
    width: 294.8px;
  }
}
@media only screen and (max-width: 1366px){
  .card1  {
    width: 298px;
  }
} */

button {
  width: 100px;
  padding: 5px;
  margin-bottom: 50px;
  -webkit-appearance: none;
  
  
}

.btn {
  margin-top: 100px;
  -webkit-appearance: none;
 
  
}

form {
  margin: 0 auto;
  /* max-width: 300px; */
  min-width: 300px;
  width: 90vw;
  /* background-color: orange; */
  height: 60px;
  visibility: hidden;
  margin-bottom: 30px;
  margin-top: 10px;
  -webkit-appearance: none;

  /* margin-top: -22px; */
}

fieldset {
  border: none;
  padding: 2rem 0;
  /* background-color: pink; */

  display: flex;
 
 
 
}

label {
  flex-direction: row;
  /* background-color: green; */
  margin: 0;
  width: 100%;
  margin-right: 15px;
}

input {
  width: 100%;
  min-width: 70px;
  -webkit-appearance: none;
   border: 1px solid rgb(65, 64, 64)
}

/* input[type="submit"] {
  background-color: pink;
  width: 100%;
} */

#addBookContainer {
  width: 100%;

  position: absolute;
  top: 90px;
  display: flex;
}

.addbook {
  background-color: #5e5950;
  color: white;
  width: 100px;
  height: 60px;
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.addbook:hover {
  background-color: #8a857c;
}
#text {
  height: 0;
}

h2 {
  transform: scale(0.8);
  animation: scale 1s forwards cubic-bezier(0.5, 6, 0.89, 3);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.display {
  /* opacity: 0; */
  /* position: relative;
  top: -260px;
  right: 190px */
  position: relative;
  top: 100px;
}
